@import "base"

window {
    fullscreen: true;
    padding: 35% 40%;
}

inputbar {
    enabled: false;
}

listview {
    lines: 5;
}

element {
    padding: 15px 30px;
}

element-text {
    horizontal-align: 0.5;
    vertical-align: 0.5;
}
